<div class="left-panel-container">
    <div class="panel-list">
        <div class="list-item-contaier">
            <div class="list-item" routerLink="todas-prova" matTooltip="Nova prova">
                <!-- <span class="material-symbols-outlined">
                    folder_code
                </span> -->
                <span>Todas as provas</span>

                <span class="material-symbols-outlined">
                    keyboard_arrow_right
                </span>

            </div>
        </div>

         <div class="list-item-contaier">
            <div class="list-item" routerLink="nova-prova" matTooltip="Nova prova">
                <!-- <span class="material-symbols-outlined">
                    new_window
                </span> -->
                <span>Nova prova</span>

                <span class="material-symbols-outlined">
                    keyboard_arrow_right
                </span>

            </div>
        </div>
    </div>
</div>